:root {
// == Colors
--primary-color: #999;

// light-mode colors
--primary-light-color: #9994;
--text-primary-color: #444;
--text-second-color: #999;
--text-light-color: #999;
--bg-color: #eee;
--blur-bg-color: #eee3;
 
// dark-mode colors
--dark-primary-light-color: #9994;
--dark-text-primary-color: #eee;
--dark-text-second-color: #999;
--dark-text-light-color: #999;
--dark-bg-color: #444;
--dark-blur-bg-color: #4443;

// colors for admonitions (specially styled quote block)
--ad-info-color: #4890fc;
--ad-info-bg-color: #4890fc30;
--ad-important-color: #b080ff;
--ad-important-bg-color: #b080ff30;
--ad-tip-color: #39e08d;
--ad-tip-bg-color: #39e08d30;
--ad-question-color: #34dbdb;
--ad-question-bg-color: #34dbdb30;
--ad-caution-color: #f5a623;
--ad-caution-bg-color: #f5a62330;
--ad-warning-color: #ff6868;
--ad-warning-bg-color: #ff686830;
--ad-star-color: #ffa4ff;
--ad-star-bg-color: #ffa4ff30;
--ad-check-color: #39e08d;
--ad-check-bg-color: #39e08d30;
--ad-wrong-color: #ff6868;
--ad-wrong-bg-color: #ff686830;
--ad-good-color: #39e08d;
--ad-good-bg-color: #39e08d30;
--ad-bad-color: #ff6868;
--ad-bad-bg-color: #ff686830;
--ad-happy-color: #39e08d;
--ad-happy-bg-color: #39e08d30;
--ad-unhappy-color: #ff6868;
--ad-unhappy-bg-color: #ff686830;
--ad-flag-color: #5689e9;
--ad-flag-bg-color: #5689e930;
--ad-cc-license-color: #8593ac;
--ad-cc-license-bg-color: #8593ac30;


// == Typography
--homepage-margin-top: 15vh;
--homepage-max-width: 850px;
--paragraph-font-size: 18px;
--paragraph-line-height: 1.75;
--pre-border-radius: 4px;
--main-font: 'Fira Sans', Arial, Helvetica, sans-serif;
--code-font: 'JetBrains Mono', monospace;

}
