:root {
// == Colors
--primary-color: #999;

// light-mode colors
--primary-light-color: #9994;
--text-primary-color: #444;
--text-second-color: #999;
--text-light-color: #999;
--bg-color: #eee;
--blur-bg-color: #eee3;
 
// dark-mode colors
--dark-primary-light-color: #9994;
--dark-text-primary-color: #eee;
--dark-text-second-color: #999;
--dark-text-light-color: #999;
--dark-bg-color: #444;
--dark-blur-bg-color: #4443;

// == Typography
--homepage-margin-top: 15vh;
--homepage-max-width: 850px;
--paragraph-font-size: 18px;
--paragraph-line-height: 1.75;
--pre-border-radius: 4px;
--main-font: 'Fira Sans', Arial, Helvetica, sans-serif;
--code-font: 'JetBrains Mono', monospace;

}
