<header {% if config.extra.blur_effect %} class="blur" {% endif %}>
    <div class="top">
        <a class="header blog" href="/blog">
            <img src="/icons/{{ config.extra.blog_icon }}.svg" class="filter-dark" width="36px">
            <span>Blog</span>
        </a>
        <a class="back" href="/">
            <img src="/icons/arrow-left-s-line.svg" class="filter-dark" width="14px">
            <span>Home</span>
        </a>
        <div class="icon">
            <a id="go-home" href="/" aria-label="home" ><img src="/icons/{{ config.extra.home_icon }}.svg" class="filter-dark" width="24px"></a>
            {% if config.extra.feed_in_blog_section -%}
            <a href="/blog/{{ config.feed_filename }}" aria-label="rss feed" ><img src="/icons/{{ config.extra.rss_icon }}.svg" class="filter-dark" width="24px"></a>
            {% elif config.generate_feed -%}
            <a href="/{{ config.feed_filename }}" aria-label="rss feed" ><img src="/icons/{{ config.extra.rss_icon }}.svg" class="filter-dark" width="24px"></a>
            {% endif -%}
            <button id="color-toggle" aria-label="dark light mode switch"><img src="/icons/moon-fill.svg" class="filter-dark" width="24px"></button>
            {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc -%}
            {% else %}{% set show_toc = config.extra.toc %}{% endif -%}
            {% if show_toc and page -%}
            <button id="toc-toggle" aria-label="table of content"><img src="/icons/{{ config.extra.toc_icon }}.svg" class="filter-dark" width="24px"></button>
            {% endif -%}
        </div>
    </div>
    <div id="progress-bar"></div>
</header>
