{% extends "_base.html" %}


{% block lang -%}
{% if section.extra.lang %}{{ section.extra.lang }} 
{%- else %}{{ section.lang }}{% endif %}
{%- endblock lang %}

{% block title %}{{ section.title }}{% endblock title %}

{% block desc %}{{ section.description }}{% endblock desc %}

{% block css -%}
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/blog.css" />
{%- endblock css %}

{% block content %}
{% include "_blog_header.html" %}
<main>
    {% for post in section.pages | sort(attribute="date") | reverse -%}
    <a class="post" href="{{ post.permalink }}">
        <span class="post-header">
            <span class="title">{{ post.title }}</span>
            <span class="date">{{ post.date | date }}</span>
        </span>
    </a>
    {% endfor -%}
</main>
{% include "_footer.html" %}
{% endblock content %}
