{% extends "_base.html" %}


{% block lang -%}
{% if section.extra.lang %}{{ section.extra.lang }} 
{%- else %}{{ section.lang }}{% endif %}
{%- endblock lang %}

{% block title %}{{ section.title }}{% endblock title %}

{% block desc %}{{ section.description }}{% endblock desc %}

{% block css -%}
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/blog.css" />
{%- endblock css %}

{% block content %}
{% include "_blog_header.html" %}
<main>
    {% for post in section.pages | sort(attribute="date") | reverse -%}
    <a class="post" href="{{ post.permalink }}">
        <span>{{ post.title }}</span>
        <span class="date">{{ post.date | date}}</span>
        {% if post.summary -%}
        <span class="summary">{{ post.summary | trim | striptags | safe }}</span>
        {% endif -%}
    </a>
    {% endfor -%}
</main>
{% include "_footer.html" %}
{% endblock content %}

{% block script -%}
<script src="/js/more.js"></script>
{%- endblock script %}
